<% provide(:title, 'Home') %>

<!-- <!DOCTYPE html> -->
<!-- HTML基本構造はapplication.html.erbに既に書き込み済み -->
<!-- <html> -->
<!-- <head> -->
	<!-- <title>Ruby on Rails Tutorial Sample App | <%=yield(:title) %> -->

	<!-- </title> -->
<!-- </head> -->
<!-- <body> -->
	<h1>Sample App</h1>
	<p>
	  This is the home page for the
	  <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
	  sample application.
	</p>
<!-- </body> -->
<!-- </html> -->